@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800');
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}
p {
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: #3BBB9B;
}
a:hover {
    text-decoration: underline;
}
button {
    text-decoration: none;
    color: #3BBB9B;
    border: none;
    text-align: right;
    font-weight: 500;
    font-size: 12pt;
    cursor: pointer;
}
button:hover{
    text-decoration: underline;
}
button:focus {
    outline:none;
}
h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
#header h2 {
    font-size: 40pt;
}
h3 {
    font-size: 14pt;
    font-weight: 400;
}
h4 {
    font-weight: 500;
    text-transform: uppercase;
    color: grey;
    letter-spacing: .1em;
}
#header {
    width: 90%;
    padding-top: 88px;
    padding-bottom: 88px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20pt;
    text-align: center;
    color: #18453B;
}

#top {
    width: 90%;
    margin-top: 22px;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    color: #18453B;
    border-bottom: 1px solid #cecece;
}
#top a {
    text-align: right;
    font-weight: 400;
}
.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #cecece;
}
.title a {
    text-align: right;
}
.schedule-date {
   font-weight: 600;
}
#nav {
    /*background-color: #18443a;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    color: grey;
    font-weight: 500;
}
#nav img {
    width: 25%;
   background-color: #446f6491;
    border-radius: 25%;
    padding: 20px;
    transition: .3s;
    border:2px solid white;
}
#main {
    padding-top: 44px;
    display: grid;
    grid-gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#contact {
    padding-top: 44px;
    display: grid;
    grid-gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#contact img {
    width: 100%;
}
.info {
    line-height: 2;
}
#student-group {
    display: grid;
    grid-template-columns: 1fr;
}
.student-group-name {
    font-weight: 600;
    font-size: 14pt;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
}
#student-group a {
    padding: 10px;
}
.wrapper{
    background-color: white;
    width: 95%;
    border-radius: 25px;
    border: 1px solid #cecece;
    margin-left: auto;
    margin-right: auto;
  display:grid;
  grid-template-columns: 1fr;
}
.wrapper > div{
  padding:1em;
}
#gpa {
font-weight: 600;
text-align: left;
}
td {
    text-align: right;
}
table {
padding: 20px;
width: 60%;
margin-left: auto;
margin-right: auto;
}
tr:nth-child(2n) {
    background-color: #446f6441;
}
#footer {
    text-align: right;
    padding: 20px;
    color: grey;
    margin-top: 44px;
}

@media only screen and (min-width: 700px) {
    #content {
        display:grid;
        grid-template-columns: 1fr 5fr;
    }
    #nav {
        height: 100px;
        grid-template-columns: 1fr;
    }
    .wrapper {
        grid-template-columns: 2fr 3fr 2fr;
    }
    .title {
        grid-column: 1/4;
    }
    #contact {
        grid-template-columns: 1fr 1fr;
        width: 70%;
    }
    #main {
        width: 70%;
    }
}